form{
  width: 25%;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

label{
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}

input, textarea{
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

input[type="submit"]{
  background: blue;
  color: white;
  border: none;
}

input[type=submit]:hover{
  background: red;
  cursor: pointer;
}

#inCorrecto{
  margin-top: -20px;
  color: red;
  font-size: small;
}
